.textnav {
  margin-bottom: 2px;
}
.textnav li {
  list-style-type: none;
  margin-right: 3%;
}
.textnav li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: larger;
}
.textnav li a:hover {
  text-decoration: none;
  color: #2fe0ff;
  font-size: larger;
  box-shadow: 0px 1px rgba(7, 2, 255, 0.384);
}

.conte-secciones {
  margin-right: 0%;
}

.secciones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 0px;
  margin-top: 5px;
}

.navbar-brand {
  margin-left: 5%;
  margin-bottom: 5px;
  color: aliceblue;
}

.navbar-brand:hover {
  color: aliceblue;
}

.buscador {
  margin-left: 20%;
}

.hola {
  margin-top: 75px;
}

nav.navbar {
  background-color: #159fdf;
  padding-bottom: 3px;
}

header {
  margin-bottom: 1%;
}

.dropdown-menu {
  background-color: #9de0ff;
}
.dropdown-menu .dropdown-item {
  color: black;
}
.dropdown-menu .dropdown-item:hover {
  text-decoration: none;
  color: #000000;
  font-size: larger;
  background-color: rgba(21, 0, 211, 0.1843137255);
  box-shadow: none;
}

.offcanvas {
  background-color: #1396d3;
}

.navbar-toggler-icon {
  background-image: url(../img/PinClipart.com_cempasuchil-clipart_1812493.png);
}

.navbar-toggler {
  border: white;
  color: rgba(0, 0, 0, 0.1450980392);
}

* {
  margin: 0%;
  padding: 0%;
}

.subrayado {
  background-color: black;
  height: 2px;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
}

body {
  background-color: rgb(255, 255, 255);
}

#botones a {
  color: aliceblue;
  text-decoration: none;
}

.conte-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  grid-template-areas: "." "." ".";
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5%;
}
.conte-footer .servicios-footer {
  margin-top: 10%;
}
.conte-footer .servicios-footer h4 {
  text-align: center;
}
.conte-footer .servicios-footer p {
  text-align: center;
}
.conte-footer .sofit-footer h2 {
  text-align: center;
}
.conte-footer .sofit-footer p {
  text-align: center;
}
.conte-footer .footer-contac {
  margin-top: 5%;
}
.conte-footer .footer-contac h4 {
  text-align: center;
}
.conte-footer .footer-contac p {
  text-align: center;
}
.conte-footer .footer-contac .img-footer {
  display: flex;
  justify-content: center;
}
.conte-footer .footer-contac .img-footer img {
  margin: 0px 0px 10px 10px;
  padding: 10px;
  background-color: rgba(4, 152, 221, 0.623);
  border-radius: 40%;
  width: 45px;
  height: 45px;
}

#footer-separador {
  background-color: rgba(4, 0, 255, 0.425);
  padding: 1px;
}

@media (min-width: 1024px) {
  .subrayado {
    background-color: black;
    height: 2px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20px;
  }
  body {
    background-color: rgb(255, 255, 255);
  }
  #botones a {
    color: aliceblue;
    text-decoration: none;
  }
  .conte-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-areas: ". . .";
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
  }
  .conte-footer .servicios-footer {
    margin-top: 10%;
  }
  .conte-footer .servicios-footer h4 {
    text-align: center;
  }
  .conte-footer .servicios-footer p {
    text-align: center;
  }
  .conte-footer .sofit-footer h2 {
    text-align: center;
  }
  .conte-footer .sofit-footer p {
    text-align: center;
  }
  .conte-footer .footer-contac {
    margin-top: 10%;
  }
  .conte-footer .footer-contac h4 {
    text-align: center;
  }
  .conte-footer .footer-contac p {
    text-align: center;
  }
  .conte-footer .footer-contac .img-footer {
    display: flex;
    justify-content: center;
  }
  .conte-footer .footer-contac .img-footer img {
    margin: 0px 0px 10px 10px;
    padding: 10px;
    background-color: rgba(4, 152, 221, 0.623);
    border-radius: 40%;
    width: 45px;
    height: 45px;
  }
  #footer-separador {
    background-color: rgba(4, 0, 255, 0.425);
    padding: 1px;
  }
}
.carousel {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 70px;
}

.carousel-inner img {
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
  min-height: 100%;
}

#sofit-nosotros {
  margin-top: 10%;
  text-align: center;
}

#sofit-t {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.paises {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10%;
  margin-left: 12%;
  margin-top: 30px;
}
.paises .icono-map {
  display: flex;
  align-items: center;
}
.paises .img-icono {
  width: 40px;
  height: 40px;
}

.nosotros {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.nosotros #texto {
  margin-top: 50px;
}
.nosotros .subrayado-n {
  padding: 1px;
  background-color: black;
  margin-left: 0%;
  margin-right: 80%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.nosotros #nosotros-t {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.nosotros #img-nosotros {
  margin-top: 10%;
  width: 100%;
  height: 100%;
}

#dirigimos {
  margin-top: 20%;
}
#dirigimos h2 {
  text-align: center;
}

.conte-dirigimos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}
.conte-dirigimos .img-dirigimos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 176, 247, 0.144);
  padding: 20px;
  border-radius: 120%;
  margin-left: 85px;
  margin-right: 85px;
}
.conte-dirigimos .tex-dirigimos h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.conte-dirigimos .tex-dirigimos p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  text-align: center;
}

.titulos-H {
  display: flex;
  justify-content: center;
}
.titulos-H .texto-h {
  margin: 70px;
}

.grid-H {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin: 30px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 15%;
}
.grid-H .box-H {
  background-color: rgba(128, 215, 255, 0.315);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.438);
  border-radius: 10px;
  height: 300px;
}
.grid-H .box-H #img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 10px;
}
.grid-H .titulo-Grid-H {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contac {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/dev.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 5%;
}
.contac .portada-contact-general {
  color: rgb(221, 220, 220);
  text-align: center;
  width: 70%;
  font-family: "DotGothic16", sans-serif;
}
.contac .portada-contact-general h1 {
  font-size: 4vh;
  margin-bottom: 5%;
}
.contac .portada-contact-general p {
  margin-top: 10px;
  width: 100%;
  color: white;
}
.contac .portada-contact-general .btn {
  margin-top: 10px;
}
.contac .portada-contact-general .btn a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.carousel-caption h1 {
  font-size: large;
}
.carousel-caption p {
  font-size: small;
  text-align: center;
}

@media (min-width: 1024px) {
  .carrusel {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;
  }
  .carousel-caption h1 {
    font-size: 6vh;
    text-align: center;
  }
  .carousel-caption p {
    font-size: large;
    text-align: center;
  }
  .sofit {
    margin: 80px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .titulos-H {
    display: flex;
    justify-content: center;
  }
  .titulos-H .texto-h {
    margin: 70px;
  }
  .grid-H {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .grid-H .box-H {
    background-color: rgba(128, 215, 255, 0.315);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    height: 300px;
  }
  .grid-H .box-H #img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10px;
  }
  .grid-H .titulo-Grid-H {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .grid-H2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    margin: 30px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .subrayado-2 {
    background-color: black;
    height: 2px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
  }
  .servicios-H {
    margin-top: 200px;
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  #sofit-t {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .paises {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4px;
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
  }
  .paises .img-icono {
    width: 100px;
    height: 100px;
  }
  .nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .nosotros #texto {
    margin-top: 50px;
  }
  .nosotros .subrayado-n {
    padding: 1px;
    background-color: black;
    margin-left: 0%;
    margin-right: 80%;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .nosotros #nosotros-t {
    display: flex;
    justify-content: left;
    margin-top: 10px;
  }
  .nosotros #img-nosotros {
    width: 600px;
    height: 400px;
  }
  #dirigimos {
    /* background-color: rgba(1, 120, 255, 0.027);*/
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .conte-dirigimos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". . .";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 80px;
  }
  .conte-dirigimos .img-dirigimos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 176, 247, 0.144);
    padding: 20px;
    border-radius: 120%;
    margin-left: 85px;
    margin-right: 85px;
  }
  .conte-dirigimos .tex-dirigimos h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .conte-dirigimos .tex-dirigimos p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    text-align: center;
  }
  .carousel {
    height: 800px;
  }
  .carousel-inner img {
    width: 100%;
    max-height: 800px;
  }
  .carousel-inner {
    height: 800px;
  }
  .contac {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/dev.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 5%;
  }
  .contac .portada-contact-general {
    color: rgb(221, 220, 220);
    text-align: center;
    width: 70%;
    font-family: "DotGothic16", sans-serif;
  }
  .contac .portada-contact-general h1 {
    font-size: 7vh;
  }
  .contac .portada-contact-general p {
    margin-top: 40px;
    width: 70%;
    margin-left: 15%;
  }
  .contac .portada-contact-general .btn {
    margin-top: 20px;
  }
  .contac .portada-contact-general .btn a {
    color: aliceblue;
    text-decoration: none;
  }
}
.portada {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/img_proyectos/proyectos\ portada.jpg);
  background-size: cover;
  background-position: center;
}
.portada .text_portada {
  color: white;
  text-align: center;
  width: 50%;
  font-family: "DotGothic16", sans-serif;
}
.portada .text_portada h1 {
  font-size: 5vh;
}

.portafolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "." "." "." "." "." "." "." ".";
  gap: 50px 50px;
  margin-top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}
.portafolio #conte-card-proyecto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portafolio .card-text {
  text-align: center;
}
.portafolio .btn-portafolio {
  margin-left: 70px;
}

#h2-testi {
  text-align: center;
}

.conte-testimonio {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  gap: 50px 40px;
  grid-template-areas: "." "." "." "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 80px;
  margin-bottom: 10%;
}
.conte-testimonio .conte-img {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 2%;
}
.conte-testimonio .img-testimonio {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.conte-testimonio #linea-testi {
  padding: 1px;
  background-color: rgb(66, 127, 241);
  margin-top: 5px;
}
.conte-testimonio .tex-testimonio h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
.conte-testimonio .tex-testimonio #p-testi {
  height: 100%;
  margin-top: 10%;
  margin-bottom: 0%;
}
.conte-testimonio .tex-testimonio p {
  display: flex;
  justify-content: end;
  text-align: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .portafolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    gap: 2% 2%;
    margin-top: 70px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .conte-testimonio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 40px;
    grid-template-areas: ". . ." ". . .";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 80px;
    margin-bottom: 10%;
  }
  .conte-testimonio #linea-testi {
    padding: 1px;
    background-color: rgba(66, 127, 241, 0);
    margin-top: 5px;
  }
}
.nosotros-software {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-template-areas: ". " ". ";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  margin-bottom: 5%;
}
.nosotros-software #texto {
  margin-top: 0px;
}
.nosotros-software #texto h2 {
  margin-bottom: 40px;
}
.nosotros-software #texto p {
  margin-bottom: 40px;
}
.nosotros-software #texto .btn {
  margin-bottom: 5%;
}
.nosotros-software .conte-img-software {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros-software #img-software {
  border-radius: 5%;
  width: 100%;
  height: 90%;
}

.sobre-w {
  margin-left: 20%;
  margin-right: 20%;
}
.sobre-w h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.sobre-w p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

.T-soft {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: large;
}

.conte-serSoft {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 50px 40px;
  grid-template-areas: "." "." "." "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 10%;
}
.conte-serSoft .conte-imgsoft {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conte-serSoft .img-software {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conte-serSoft .text-soft h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  text-align: center;
}
.conte-serSoft .text-soft #p-soft {
  margin-top: 5px;
}
.conte-serSoft .text-soft p {
  text-align: center;
}

@media (min-width: 1024px) {
  .nosotros-software {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    margin-bottom: 5%;
  }
  .conte-serSoft {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 40px;
    grid-template-areas: ". . ." ". . .";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
.nosotros-web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-template-areas: ". " ". ";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  margin-bottom: 5%;
}
.nosotros-web .conte-img-software {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nosotros-web #img-software {
  border-radius: 5%;
  width: 100%;
  height: 90%;
}

#texto-web {
  margin-top: 0px;
}
#texto-web h2 {
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  text-align: center;
}
#texto-web p {
  margin-bottom: 15px;
}
#texto-web .btn {
  margin-bottom: 5%;
  margin-top: 10px;
}

.sobre-w {
  margin-top: 20%;
}

.conte-web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "." ".";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
  margin-bottom: 2%;
}
.conte-web .conte-pweb {
  margin-top: 5%;
  font-size: medium;
}
.conte-web #p-web {
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 5px;
}
.conte-web .conte-img-web {
  display: flex;
  justify-content: start;
  align-items: center;
}
.conte-web #img-web {
  border-radius: 5%;
  width: 100%;
  height: 50%;
}

.grid-web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 20px;
  grid-template-areas: "." "." "." "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 10%;
}
.grid-web .conte-imgridweb {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-web .conte-imgridweb #radius-img {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 50%;
}
.grid-web .conte-imgridweb img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-web .textgrid-web h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0px;
}
.grid-web .textgrid-web #p-webgrid {
  margin-top: 5px;
}
.grid-web .textgrid-web p {
  text-align: center;
}

@media (min-width: 1024px) {
  .nosotros-web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 150px;
    margin-bottom: 5%;
  }
  .sobre-w {
    margin-top: 10%;
  }
  .conte-web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .conte-web #img-web {
    border-radius: 5%;
    width: 100%;
    height: 100%;
  }
  .grid-web {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 20px;
    grid-template-areas: ". . ." ". . .";
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
}
.sobre-web {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-template-areas: "." ".";
  grid-row-gap: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 150px;
  margin-bottom: 5%;
}
.sobre-web #texto-sobreweb {
  margin-top: 0px;
  font-size: large;
}
.sobre-web #texto-sobreweb h2 {
  margin-bottom: 40px;
}
.sobre-web #texto-sobreweb p {
  margin-bottom: 10px;
}
.sobre-web #texto-sobreweb .btn {
  margin-bottom: 5%;
}
.sobre-web .conte-img-sobreweb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.sobre-web .conte-img-sobreweb #img-sobreweb {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.sobre-app {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 10%;
}
.sobre-app h1 {
  margin-top: 10%;
  text-align: center;
}
.sobre-app p {
  text-align: center;
  margin-top: 15px;
}

.grid-app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 50px 40px;
  grid-template-areas: "." "." "." "." "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0%;
  margin-bottom: 10%;
}
.grid-app .conte-imgapp {
  margin: 10%;
  margin-top: 10px;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-app .conte-imgapp #radius-img {
  background-color: rgba(103, 162, 250, 0.589);
  padding: 15px;
  border-radius: 50%;
}
.grid-app .conte-imgapp img {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-app .textgrid-app h5 {
  text-align: center;
  margin-top: 0px;
}
.grid-app .textgrid-app #p-appgrid {
  margin-top: 5px;
}
.grid-app .textgrid-app p {
  text-align: center;
}

@media (min-width: 1024px) {
  .sobre-web {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    margin-bottom: 5%;
  }
  .grid-app {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 40px;
    grid-template-areas: ". . ." ". . .";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
  }
}
.sobre-tienda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 40px;
  grid-template-areas: "." ".";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  margin-bottom: 5%;
}
.sobre-tienda #texto-sobretienda {
  margin-top: 0px;
  font-size: medium;
}
.sobre-tienda #texto-sobretienda h2 {
  margin-bottom: 40px;
}
.sobre-tienda #texto-sobretienda p {
  margin-bottom: 10px;
}
.sobre-tienda #texto-sobretienda .btn {
  margin-top: 5%;
  margin-bottom: 5%;
}
.sobre-tienda .conte-img-sobretienda {
  display: flex;
  margin: 5%;
}
.sobre-tienda .conte-img-sobretienda #img-sobretienda {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

.sobre-tienda-text {
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}
.sobre-tienda-text h1 {
  text-align: center;
}
.sobre-tienda-text p {
  text-align: center;
  margin-top: 15px;
}

.T-tienda {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: medium;
}
.T-tienda h4 {
  text-align: center;
  margin-bottom: 5%;
}

@media (min-width: 1024px) {
  .sobre-tienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 150px;
    margin-bottom: 5%;
  }
  .T-tienda {
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: large;
  }
  .T-tienda h4 {
    text-align: center;
    margin-bottom: 5%;
  }
}
.sobre-empresa {
  margin-top: 150px;
  margin-left: 15%;
  margin-right: 15%;
}
.sobre-empresa h1 {
  text-align: center;
}
.sobre-empresa p {
  text-align: center;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.conte-empresa {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr;
  grid-column-gap: 40px;
  grid-template-areas: "." ".";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.conte-empresa .conte-pempresa {
  margin-top: 5%;
  font-size: medium;
}
.conte-empresa #p-empresa {
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 5px;
}
.conte-empresa .conte-img-empresa {
  display: flex;
  margin-top: 5%;
}
.conte-empresa #img-empresa {
  border-radius: 5%;
  width: 100%;
  height: 90%;
  margin-right: 5%;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.5fr;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-areas: "." "." "." ".";
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.empresa .text-empresa {
  margin-top: 0%;
  font-size: medium;
}
.empresa .empresa-img-conte {
  display: flex;
  align-items: flex-end;
}
.empresa #empresa-img {
  border-radius: 5%;
  width: 100%;
  height: 90%;
}

#img-empre {
  border-radius: 5%;
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .conte-empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas: ". .";
    grid-row-gap: 0px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .conte-empresa .conte-pempresa {
    margin-top: 5%;
    font-size: large;
  }
  .empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-areas: ". ." ". .";
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .empresa .text-empresa {
    margin-top: 0%;
    font-size: larger;
  }
  .empresa .empresa-img-conte {
    display: flex;
    align-items: flex-start;
  }
  .empresa #empresa-img {
    border-radius: 5%;
    width: 100%;
    height: 90%;
  }
  /*.sobre-empresa{
      margin-top:10% ;
      margin-left: 15%;
      margin-right: 15%;
      h1{
          display:flex ;
          justify-content: center;
          text-align: center;
      }
      p{
          display: flex;
          justify-content:center ;
          text-align: center;
          margin-top:15px ;
          margin-left: 10%;
          margin-right:10% ;
      }
  }

  .conte-empresa{
      display: grid;
      grid-template-columns: fr 1fr ;
      grid-template-rows: 1fr;
      grid-column-gap: 40px;
      grid-template-areas:
       ". . ";
      grid-row-gap: 0px;    
      margin-left:15% ;
      margin-right:15% ;
      margin-top:5%;
      margin-bottom: 5%;

      .conte-pempresa{
          margin-top:5%;
          font-size: large;


      }
      #p-empresa{
          margin-left:5% ;
          margin-top: 0px;
          margin-bottom:5px ;
      }
      .conte-img-empresa{
          display: flex;
          justify-content:end;
          align-items:flex-end;


      }
      #img-empresa{
          border-radius: 5%;
          width:70%;
          height:70%;
          margin-right:5% ;
      }
  }



  .empresa{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 30px;
      grid-template-areas:
       ". ."
       ". .";      
      margin-left:15% ;
      margin-right:15% ;
      margin-top:5%;
      margin-bottom: 5%;
      .text-empresa{
          margin-top:0%;
          font-size: large;      
      }
      .empresa-img-conte{
          display: flex;
          justify-content:end;
          align-items:center;


      }
      #empresa-img{
          border-radius: 5%;
          width:100%;
          height:100%;

      }
  }


  #img-empre{
      border-radius: 5%;
          width:100%;
          height:100%;

  }*/
}
.formulario {
  background-color: rgba(196, 227, 255, 0.555);
  padding: 10%;
}
.formulario h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}
.formulario p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.form-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-template-areas: ". . ";
  grid-row-gap: 0px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.conte-formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  grid-template-areas: ". ." ". .";
  margin-top: 10%;
}

.info {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
.info h3 {
  margin-top: 10%;
}
.info h5 {
  margin-top: 10px;
}
.info img {
  border-radius: 5%;
  width: 70%;
  height: 30%;
}

.form-check {
  margin-top: 5px;
}

#boton-formulario {
  margin-top: 10%;
}

.contacto-portada {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/foco.jpg);
  background-size: cover;
  background-position: center;
}
.contacto-portada .contacto-portada-texto {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 50%;
  font-family: "DotGothic16", sans-serif;
}
.contacto-portada .contacto-portada-texto h1 {
  font-size: 5vh;
}/*# sourceMappingURL=styles.css.map */