*{
    margin: 0%;
    padding: 0%;
}

.subrayado{
    background-color: black;
     height: 2px;
     margin-left:40% ;
     margin-right:40% ;
     margin-bottom:20px ;
}

footer{
    background-color: black;
    padding: 30px;
    margin-top: 20%;
}


body{
    background-color: rgb(255, 255, 255);
} 