.textnav{
    
     li{
        list-style-type: none;
        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    
}
.secciones {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 17px;
    grid-row-gap: 0px;
    margin-top:20px ;
    margin-left: 10%;
    }
    
    .navbar-brand{
        margin-left: 15%;
    }
    .buscador{
        margin-left: 20%;
        
    }


    .hola{
        margin-top:75px;
    }

    nav.navbar {
        background-color: #1f9bb1;
        padding-bottom:20px ;
       
    }
    header{
        margin-bottom: 5%;
    }
    
    .dropdown-menu{
        background-color: #2cd8f7;
        .dropdown-item{
            color:black ;
        }
    }
    
   
