.sobre-empresa{
    margin-top:150px;
    margin-left: 15%;
    margin-right: 15%;
    h1{
        
        text-align: center;
    }
    p{
        
        text-align: center;
        margin-top:15px ;
        margin-left: 10%;
        margin-right:10% ;
    }
}
 
.conte-empresa{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 40px;
    grid-template-areas:
     "."
     ".";
    grid-row-gap: 0px;    
    margin-left:15% ;
    margin-right:15% ;
    margin-top:5%;
    margin-bottom: 5%;
 
    .conte-pempresa{
        margin-top:5%;
        font-size: medium;
       
       
    }
    #p-empresa{
        margin-left:5% ;
        margin-top: 0px;
        margin-bottom:5px ;
    }
    .conte-img-empresa{
        display: flex;
        margin-top: 5%;
       
 
    }
    #img-empresa{
        border-radius: 5%;
        width:100%;
        height:90%;
        margin-right:5% ;
    }
}
 
 
 
.empresa{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 0.2fr 1fr 1fr 0.5fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-areas:
     "."
     "."
     "."
     ".";      
    margin-left:15% ;
    margin-right:15% ;
    margin-top:5%;
    margin-bottom: 5%;
    .text-empresa{
        
        margin-top:0%;
        font-size: medium;      
    }
    .empresa-img-conte{
        display: flex;
        align-items: flex-end;
      
       
 
    }
    #empresa-img{
        border-radius: 5%;
        width:100%;
        height:90%;
         
    }
}
 
 
#img-empre{
    border-radius: 5%;
        width:100%;
        height:100%;
       
}
@media (min-width:1024px){

    .conte-empresa{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr ;
        grid-column-gap: 40px;
        grid-template-areas:
         ". ."
         ;
        grid-row-gap: 0px;    
        margin-left:15% ;
        margin-right:15% ;
        margin-top:5%;
        margin-bottom: 5%;
        .conte-pempresa{
            margin-top:5%;
            font-size: large;
           
           
        }
    }
    .empresa{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        grid-template-areas:
         ". ."
         ". ."
         ;      
        margin-left:15% ;
        margin-right:15% ;
        margin-top:5%;
        margin-bottom: 5%;
        .text-empresa{
        
            margin-top:0%;
            font-size: larger;      
        }
        .empresa-img-conte{
            display: flex;
            align-items: flex-start;

        }
        #empresa-img{
            border-radius: 5%;
            width:100%;
            height:90%;
             
        }
    
    }
/*.sobre-empresa{
    margin-top:10% ;
    margin-left: 15%;
    margin-right: 15%;
    h1{
        display:flex ;
        justify-content: center;
        text-align: center;
    }
    p{
        display: flex;
        justify-content:center ;
        text-align: center;
        margin-top:15px ;
        margin-left: 10%;
        margin-right:10% ;
    }
}
 
.conte-empresa{
    display: grid;
    grid-template-columns: fr 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas:
     ". . ";
    grid-row-gap: 0px;    
    margin-left:15% ;
    margin-right:15% ;
    margin-top:5%;
    margin-bottom: 5%;
 
    .conte-pempresa{
        margin-top:5%;
        font-size: large;
       
       
    }
    #p-empresa{
        margin-left:5% ;
        margin-top: 0px;
        margin-bottom:5px ;
    }
    .conte-img-empresa{
        display: flex;
        justify-content:end;
        align-items:flex-end;
       
 
    }
    #img-empresa{
        border-radius: 5%;
        width:70%;
        height:70%;
        margin-right:5% ;
    }
}
 
 
 
.empresa{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    grid-template-areas:
     ". ."
     ". .";      
    margin-left:15% ;
    margin-right:15% ;
    margin-top:5%;
    margin-bottom: 5%;
    .text-empresa{
        margin-top:0%;
        font-size: large;      
    }
    .empresa-img-conte{
        display: flex;
        justify-content:end;
        align-items:center;
       
 
    }
    #empresa-img{
        border-radius: 5%;
        width:100%;
        height:100%;
         
    }
}
 
 
#img-empre{
    border-radius: 5%;
        width:100%;
        height:100%;
       
}*/
}