.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-template-areas:
     ". . .";
    grid-row-gap: 0px;    
    margin-left:15% ;
    margin-right:15% ;
    margin-top:150px;
    margin-bottom: 5%;
    #texto{
        margin-top: 0px;
        h2{
            margin-bottom: 40px;
        }
        p{
            margin-bottom:40px ;
        }
        .btn{
           margin-bottom:5% ;
        }
    }
 
   
 
    .conte-img-software{
        display: flex;
        justify-content:center;
        align-items: center;
        margin:15% ;
 
    }
    #img-software{
        border-radius: 5%;
        width:500px ;
        height:300px ;
    }
}
 
.sobre-w{
    margin-left: 20%;
    margin-right: 20%;
    h1{
        display:flex ;
        justify-content: center;
    }
    p{
        display: flex;
        justify-content:center ;
        text-align: center;
        margin-top:15px ;
    }
}
 
.T-soft{
    margin:15% ;
    margin-top:5% ;
    margin-bottom:5% ;
    font-size:large ;
   
}
 
.conte-serSoft{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    gap: 50px 40px;  
    grid-template-areas:
      ". . .";
    margin-left:15% ;
    margin-right:15% ;
    margin-top:0%;
    margin-bottom:10% ;
 
     .conte-imgsoft{      
        margin: 10%;
        margin-top:10px;
        margin-bottom:5% ;
        display: flex;
        justify-content: center;
        align-items:center;
    }
     .img-software{
        width: 50%;
        height:150px ;
        display: flex;
        align-items: center;
        justify-content: center;      
     }    
     .text-soft{
         h5{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:0px ;
        }
        #p-soft{          
            margin-top:5px;
                     
        }
        p{
            display: flex;
            justify-content:end;
            text-align: center;
            align-items: center;
           
        }      
     }
  }
